footer
  .container.text-center
    p.float-left © 2020 RecipeDB - Joshua Wiedeman
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/jwiedeman/hackathon-starter') GitHub Project
      li.list-inline-item
        a(href='https://github.com/jwiedeman/hackathon-starter/issues') Issues
